*.py[cod]
__pycache__
*.so
.env
*.json
test*.*
test*
*.bak
*.dat
*.dir
*.egg
*.egg-info
dump.rdb
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.DS_Store
pip-log.txt
.coverage
.tox
nosetests.xml
*.vscode
*.code-workspace
*.mo
.mr.developer.cfg
.project
.pydevproject
.env
venv
logs
